header,body,footer{
  text-align: center;
  background: navy;
  font-family: 'Arial';
  color: rgb(255, 255, 255);
}
main {
  border: 3px solid #00cf3e;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-family: 'Arial';
  color: navy; 
}
a {
  color: white;
}
ul {
  list-style-position: inside;
}
ol{
  list-style-position: inside;
}
hr {
  height: 4px;
  background-color: white;
  border: 2px solid black;
}
